@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-global: "PoltawskiNowy";
  background-color: transparent;
}

body {
  font-family: var(--font-global);
  font-weight: lighter;
  @apply mx-2 sm:mx-4 lg:mx-8 xl:mx-16;
  color: #2e3240;
  background-color: #f4f5f9;
}
/* styles.css */
.scrollbar-hide {
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none; /* Untuk Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}
